<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bugismakassar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BugisMakassar">
        <activity
            android:name=".admin.fragment.hotspot.EditHotSpotAdminActivity"
            android:exported="true" />
        <activity
            android:name=".admin.fragment.hotnews.EditHotNewsAdminActivity"
            android:exported="true" />
        <activity
            android:name=".admin.fragment.tarian_tradisional.EditTarianTradisionalActivity"
            android:exported="true" />
        <activity
            android:name=".admin.fragment.sejarah_bugis.EditSejarahBugisActivity"
            android:exported="true" />
        <activity
            android:name=".admin.fragment.rumah_adat.EditRumahAdatActivity"
            android:exported="true" />
        <activity
            android:name=".admin.fragment.pakaian_adat.EditPakaianAdatActivity"
            android:exported="true" />
        <activity
            android:name=".admin.fragment.musik_tradisional.EditMusikTradisionalActivity"
            android:exported="true" />
        <activity
            android:name=".user.fragment.hotspot.EditHotSpotActivity"
            android:exported="true" />
        <activity
            android:name=".user.fragment.hotnews.EditHotNewsActivity"
            android:exported="true" />
        <activity
            android:name=".admin.fragment.lontara.EditLontaraActivity"
            android:exported="true" />
        <activity
            android:name=".admin.fragment.adat_pernikahan.EditAdatPernikahanActivity"
            android:exported="true"
            android:label="@string/title_activity_add_adat_pernikahan"
            android:theme="@style/Theme.BugisMakassar.NoActionBar" />
        <activity
            android:name=".authentication.AdminLoginActivity"
            android:exported="true" />
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".user.SejarahBugisActivity"
            android:exported="true" />
        <activity
            android:name=".user.MainActivity"
            android:exported="true" />
        <activity
            android:name=".authentication.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>